.main-container {
  background-color: #fafafa;
  min-width: 400px;
  max-width: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 567px) {
  .main-container {
    min-width: 250px;
    max-width: 567px;
    width: 550px;
  }
}
